<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Speech recording is used only for pronunciation training. The data associated with it is cleared from the cache after the application terminates</string>
	<key>CFBundleDisplayName</key>
	<string>Irregulars</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green</string>
				</array>
			</dict>
			<key>indigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>indigo</string>
				</array>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
			</dict>
			<key>teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>teal</string>
				</array>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yellow</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green</string>
				</array>
			</dict>
			<key>indigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>indigo</string>
				</array>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
			</dict>
			<key>teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>teal</string>
				</array>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yellow</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.olejiksa.verbs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>verbs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>mailto</string>
		<string>itms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>VerbsIntentIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SEARCH</string>
			<key>UIApplicationShortcutItemType</key>
			<string>search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>star</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>FAVORITES</string>
			<key>UIApplicationShortcutItemType</key>
			<string>favorites</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>puzzlepiece</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>TESTS</string>
			<key>UIApplicationShortcutItemType</key>
			<string>tests</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>chart.pie</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>STATISTICS</string>
			<key>UIApplicationShortcutItemType</key>
			<string>statistics</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
