<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>app.badge</string>
	<key>StringsTable</key>
	<string>Notifications</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Notifications</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Time</string>
		</dict>
		<dict>
			<key>ShortTitles</key>
			<array/>
			<key>Key</key>
			<string>since_preference</string>
			<key>Values</key>
			<array>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
			</array>
			<key>Titles</key>
			<array>
				<string>7:00</string>
				<string>8:00</string>
				<string>9:00</string>
				<string>10:00</string>
				<string>11:00</string>
				<string>12:00</string>
			</array>
			<key>DefaultValue</key>
			<string>9</string>
			<key>Title</key>
			<string>Since</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>ShortTitles</key>
			<array/>
			<key>Key</key>
			<string>to_preference</string>
			<key>Values</key>
			<array>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>00</string>
			</array>
			<key>Titles</key>
			<array>
				<string>19:00</string>
				<string>20:00</string>
				<string>21:00</string>
				<string>22:00</string>
				<string>23:00</string>
				<string>00:00</string>
			</array>
			<key>DefaultValue</key>
			<string>21</string>
			<key>Title</key>
			<string>To</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Frequency</string>
		</dict>
		<dict>
			<key>ShortTitles</key>
			<array/>
			<key>Key</key>
			<string>freqency_preference</string>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>Titles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Title</key>
			<string>Quantity</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
