<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>waveform</string>
	<key>StringsTable</key>
	<string>Voice</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Button</string>
			<key>Type</key>
			<string>PSButtonCell</string>
		</dict>
		<dict>
			<key>ShortTitles</key>
			<array/>
			<key>Key</key>
			<string>speaking_rate_preference</string>
			<key>Values</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Slower</string>
				<string>Default</string>
				<string>Faster</string>
			</array>
			<key>DefaultValue</key>
			<string>3</string>
			<key>Title</key>
			<string>Speaking rate</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
